<!doctype html>

<head>
	{% load static %}
	{% load placeholder %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'personal_board_system/personalboard.css' %}">


</head>

<body>
	{% include "accounts/includes/navbar.html" %}
	<h2>Add board</h2>
	<form method="POST">
		{% csrf_token %}
		Title:  <input type="text" name="title" placeholder="board title" required>
		<button type="submit">Add</button>
		<button><a href="/personal_board">Cancel</a></button>
	</form>
</body>