{% extends 'accounts/header.html' %}
{% block content %}
	<h3>Add board list card</h3>
	<form method="POST" enctype = "multipart/form-data">
		{% csrf_token %}
		Title: <input type="text" name = "title" >
		<br><br>
		Due date: <input type="datetime-local" name = "due_date" >
		<br><br>
		Description: <input type = "text" name = "description">
		<br><br>
		Attachment: <input type="file" name = "attachment" >
		<br><br>
		<input type="hidden" name="list_id" value={{list.id}}>
		<input type="hidden" name="board_id" value={{board.id}}>

		<button type="submit">Add</button>
		<button><a href="/personal_board_list_cards/?list_id={{list.id}}&board_id={{board.id}}">Cancel</a></button>
	</form>
{% endblock %}