<!doctype html>

<head>
	{% load static %}
	{% load placeholder %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'personal_board_system/personalboard.css' %}">


</head>

<body>
	{% include "accounts/includes/navbar.html" %}
	<h2>Edit {{board.id}} </h2>
	<form method="POST">
		{% csrf_token %}
		Title: <input name="title" type="text"  value="{{ list.title }}">
		<input type="hidden" name="list_id" value={{list.id}}>
		<input type="hidden" name="board_id" value={{board.id}}>
		<button type="submit">Save</button>
		<button><a href="/personal_board_lists/?id={{board.id}}">Cancel</a></button>
	</form>
</body>

