{% extends "accounts/header.html" %}
{% block content %}
	<h2><a href="/personal_board">Personal Board</a>->{{board.title}}</h2>
	<br><br>
	<table border=1px solid >
	<tr>
	{% for personal_board_list in personal_board_lists %}
		<td>
		<a href="/personal_board_list_cards/?list_id={{personal_board_list.id}}&board_id={{board.id}}">{{personal_board_list.title}}</a>
		<br>
		<a href="/edittitlepersonalboardlist/?board_id={{board.id}}&list_id={{personal_board_list.id}}">Edit</a>
		<a href="/deletepersonalboardlist/?list_id={{personal_board_list.id}}&board_id={{board.id}}">Delete</a>
		</td>
	{% endfor %}
	<td>
	<h4><a href="/addpersonalboardlist/?id={{board.id}}">+</a>Addboardlist</h4>
	</td>
	</tr>
{% endblock %}