.container {
    
    /* background-color: aqua; */
    display: inline;
}

.list-board-item {
    padding: 5px 50px 50px 5px;
    background-color: aquamarine;
    display: inline;
    border-radius: 10%;
    margin-right: 20px;
}

ul {
    list-style: none;

}
a {
    color: black;
}